PROJECT1/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
PROJECT1/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
PROJECT1/.metadata/.plugins/org.eclipse.xtend.ide/resource.change.registry
PROJECT1/.metadata/.plugins/org.eclipse.core.resources/.projects/Pharmacy_management_system/org.eclipse.jdt.core/state.dat
PROJECT1/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
PROJECT1/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
PROJECT1/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
