PROJECT1/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
PROJECT1/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
PROJECT1/.metadata/.plugins/org.eclipse.xtend.ide/resource.change.registry
